
@font-face {
    font-family: 'Circe Light';
    src: url('../font/Circe Light.eot');
    src: url('../font/Circe Light.eot?#iefix') format('embedded-opentype'),
         url('../font/Circe Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
   }
@font-face {
    font-family: 'Circe Bold';
    src: url('../fontCirce Bold.eot');
    src: url('../font/Circe Bold.eot?#iefix') format('embedded-opentype'),
         url('../font/Circe Bold.ttf') format('truetype');     
    font-weight: normal;
    font-style: normal;
   }
@font-face {
    font-family: 'Circe Extra Bold';
    src: url('../font/Circe Extra Bold.eot');
    src: url('../font/Circe Extra Bold.eot?#iefix') format('embedded-opentype'),
         url('../font/Circe Extra Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
   }
@font-face {
    font-family: 'Circe Thin';
    src: url('../font/Circe Thin.eot');
    src: url('../font/Circe Thin.eot?#iefix') format('embedded-opentype'),
         url('../font/Circe Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
#sprite_icon1 {
    display: inline-block;
    width: 120px;
    height: 138px;
    background: url('/assets/template/images/sprite_icons.png');
}
#sprite_icon3 {
    display: inline-block;
    width: 120px;
    height: 138px;
    background: url('/assets/template/images/sprite_icons.png') 240px 0;
}
#sprite_icon2 {
    display: inline-block;
    width: 120px;
    height: 138px;
    background: url('/assets/template/images/sprite_icons.png') 120px 0;
}
#sprite_icon4 {
    display: inline-block;
    width: 120px;
    height: 138px;
    background: url('/assets/template/images/sprite_icons.png') 0 138px;
}
#sprite_icon5 {
    display: inline-block;
    width: 120px;
    height: 138px;
    background: url(/assets/template/images/sprite_icons.png) -120px 138px;
}
#sprite_icon6 {
    display: inline-block;
    width: 120px;
    height: 138px;
    background: url(/assets/template/images/sprite_icons.png) 120px 138px;
}
#promo1 {
   background: url(/assets/template/images/sprite_promo_n.png) 5px 0px;
    height: 158px;
    width: 235px;
    display: inline-block;
    float:left;
}
#promo2 {
   background: url(/assets/template/images/sprite_promo_n.png) -242px 0px;
    height: 158px;
    width: 235px;
    display: inline-block;
    float:left;
}
#promo3 {
   background: url("/assets/template/images/sprite_promo_n.png") -5px 156px;
    height: 158px;
    width: 235px;
    display: inline-block;
    float:left;
}
#promo4 {
   background: url("/assets/template/images/sprite_promo_n.png") -248px -194px;
    height: 158px;
    width: 235px;
    display: inline-block;
    float:left;
}
.breadcrumb{font-size:16px;}
.breadcrumb li {
    display: inline-block;
    margin: 0 7px;
}
.breadcrumb a{color:#008ad1;}
.breadcrumb span{color:#271f5e;}
.breadcrumb a:hover{color:#2f3587;}
.recall.btn-more {
    width: auto;
}